body{
    margin: 0;
    overflow-x: hidden;
}

.back{
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
}

.top-background{
    background-image: url("/images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
}



.back section:last-child{
    min-height: 65vh;
}

.front{
    border: solid black;
    z-index: 1;
    position: absolute;
    top: 0;
    margin-left: 32%;
    margin-top: 5.5rem;
    height: 35rem;
    width: 33rem;
}