body{
    margin: 0;
    overflow-x: hidden;
}

.back{
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
}

.top-background{
    background-image: url("/images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
}



.back section:last-child{
    min-height: 65vh;
}

.front{
    border: solid black;
    z-index: 1;
    position: absolute;
    top: 0;
    margin-left: 32%;
    margin-top: 4rem;
    height: 39rem;
    width: 33rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form, .main-container{
    border: solid red;
}

form{
    height: 2rem;
    display: flex;
    padding: .8em 1em;
    gap: 1.5em;
    background-color: white;
    margin-top: -1rem;
}

form span{
    border: solid black 1px;
    height: .9rem;
    width: .9rem;
    border-radius: 50%;
    align-self: center;
}

form input{
    width: 100%;
}